[Unit]
Description=Server service - starts and restarts the python program. 
After=network.target

[Service]
WorkingDirectory=/home/its/main
ExecStart=/usr/bin/python3 /home/its/main/main.py
Restart=always
StandardOutput=append:/home/its/main/output.log
StandardError=append:/home/its/main/error.log

[Install]
WantedBy=multi-user.target