<!DOCTYPE html>
<html>
<head>
    <title>Avtoček control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="topnav">
        <a>AVTOČEK</a>
        <button id="logoutBtn">Logout</button>
        <button onclick="window.location.href='/wifi'">wifi</button>
    </div>

    <div class="main">
        <div class="video-container">
            <div class="option">
                <input id="use-stun" type="checkbox"/>
                <label for="use-stun">Use STUN server</label>
            </div>
            <button id="start" onclick="start()">Start</button>
            <button id="stop" style="display: none" onclick="stop()">Stop</button>
            
            <div id="media">
                <h2>Media</h2>
                <video controls id="video" autoplay="true" playsinline="true"></video>
            </div>
            
            <script src="{{ url_for('static', filename='js/client.js') }}"></script>
        </div>


        <div class="controls">
            <button class="control-btn" id="btnUp" data-vx="1">↑ W</button>
            <button class="control-btn" id="btnLeft" data-vy="1">← A</button>
            <button class="control-btn" id="btnRight" data-vy="-1">→ D</button>
            <button class="control-btn" data-omega="-1">↶ Left</button>
            <button class="control-btn" data-omega="1">↷ Right</button>
            <button class="control-btn" id="btnDown" data-vx="-1">↓ S</button>
        </div>

        <div class="speed-control">
            <label for="speedSlider">Speed Multiplier:</label>
            <input type="range" id="speedSlider" min="20" max="100" step="1" value="50">
            <span id="speedValue" style="color: white;">50x</span>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>